body {
    font-size: 16px;
    font-family: Poppins, sans-serif;
}
.accordion-button {
    font-size: 18px;
    font-weight: 600;
}
.accordion-button {
    background-color: #faeec1;
}
.accordion-button:not(.collapsed) {
    background-color: #f5d45d;
    color: black;
    box-shadow: none;
}
.accordion-button:focus {
    box-shadow: none;
}
.middle {
    min-height: calc(100vh - 300px);
}
.accordion {
    width: 80%;
    padding: 20px 0;
}
.incstructionImage {
    margin: 10px auto 20px auto;
    height: 350px;
    border-radius: 7px;
    width: auto;
}
@media screen and (max-width: 655px) {
    .incstructionImage {
        height: 50vw;
    }
}
@media screen and (max-width: 479px) {
    .accordion-button {
        font-size: 16px;
        font-weight: 0;
    }
    .accordion {
        width: 95%;
    }
    .incstructionImage {
        height: 50vw;
    }
}
