.menu {
    background-color: #faeec1;
    font-family: Poppins, sans-serif;
    min-height: 80px;
    font-size: 20px;
    padding: 20px;
}
.menu-account {
    width: 30px;
    height: 30px;
    background-image: url("images/icon.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 10px;
}
.navbar-brand {
    font-weight: 600;
    font-family: Poppins, sans-serif;
    font-size: 20px;
}
.active-yellow {
    color: #f5d45d !important;
    font-size: 20px;
    text-decoration: underline;
}
.yellow {
    color: #f5d45d;
}
.btn-warning {
    background-color: #f5d45d;
    border-color: #f5d45d !important;
}
.btn-warning:hover {
    background-color: #f5d45d;
    color: rgba(0, 0, 0, 0.5);
}

/* -------------------- LOADER -------------------- */
.loader {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    display: none;
  }

  .loader1 {
    animation:c2 1s linear infinite;
    width: 140px;
    margin: 100% auto;

    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    background:linear-gradient(currentColor 0 0) bottom left/0% 3px no-repeat;
  }
 
  @keyframes c2 {to{background-size: 100% 3px}}
  /* -------------------- LOADER -------------------- */