.body {
    min-height: calc(100vh - 300px);
    width: fit-content;
    max-width: 1200px;
    margin: 0px auto;
    justify-content: center;
    font-family: Poppins, sans-serif;
    /* background-color: red; */
 }
 
 .setBox {
    width: 60%;
    height: fit-content;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 25px auto;
    padding: 0 0 20px 0;
 }
 
 .profileBox {
    width: 300px;
    height: 400px;
    background-color: #f5d45d;
    border-radius: 10px;
    margin: 25px auto;
    padding: 20px;
 }
 
 .profileBox-1 {
    margin: 0px auto;
    width: 50%;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
 }
 
 .profileBox-2 {
    margin: 15px 15px 0 15px;
 }
 
 .profileBox-3 {
    margin: 0 15px 0px 15px;
 }
 
 .collapse-button {
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
 
 }
 
 /* ---------------- PROFILE ---------------- */
 .profileImage {
     max-width: 100%;
     max-height: 100%;
     border-radius: 10px;
 }
 
 .profileInfo {
    margin: 0px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
 }
 
 .profileQuote {
     margin: 10px 0;
     padding-left: 10px;
     border-left: 4px solid;
     border-color: white;
     text-align: left;
     font-weight: bold;
     font-size: 14px;
 }
 
 .profileButton {
    margin: 0 0 0 0;
    width: 100%;
 }
 
 .profileButton-inner {
     color: black;
     font-size: 14px;
     border-radius: 100px;
     border: 1px solid;
     width: 150px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: transparent;
     cursor: pointer;
     margin: 5px;
 }
 
 .profileButton-inner:hover {
     background-color: #333;
     color: #f5d45d;
 }
 .collapse-button {
     display: none;
 }
 .collapse-b {
     font-size: 14px;
     border-radius: 25px;
 }
 /* ---------------- CARDS ---------------- */
 
 .card {
     border-radius: 4px;
     background: #fff;
     box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
     transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
     cursor: pointer;
     padding: 10px;
     height: inherit;
 }
 #dropdownMenu2 {
     font-size: 30px;
     color: grey;
 }
 .card:hover {
     transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 }
 .dropdown-item:hover {
     text-decoration: underline;
 }
 .span-set-name {
     width:inherit;
     background-color: green;
 }
 .setName {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
 }
 
 .set {
    padding: 20px 20px 0 20px;
 }
 /* ---------------- CARDS ---------------- */
 .settingsDiv {
     position: fixed;
     display: none;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 20px;
     width: 100%;
     height: 100vh;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     background-color: #faeec1;
 }
 .settingsSpan {
     font-size: 40px;
     letter-spacing: 0.5px;
     font-weight: bold;
 }
 
 .settingsFN {
     margin-top: 5px;
     font-weight: bolder;
 }
 
 input {
     border: 1px solid #ccc;
     border-radius: 30px;
     font-size: 16px;
     padding: 10px 10px;
     margin: 5px;
     width: 300px;
     -webkit-transition: 0.5s;
     transition: 0.5s;
 }
 
 input:focus {
     outline: none;
     border: 1px solid #348feb;
 }
 textarea {
     border: 1px solid #ccc;
     padding: 10px 10px;
     font-size: 16px;
     width: 300px;
     min-height: 80px;
     resize: none;
 }
 
 textarea:focus {
     outline: none;
     border: 1px solid #348feb;
 }
 .quoteInput {
     border-radius: 10px;
     height: 50px;
 }
 
 .submit {
     margin-top: 20px;
     border: none;
     border-radius: 30px;
     background-color: #f5d45d;
     padding: 15px 30px;
     font-size: 14px;
     font-weight: 500;
     cursor: pointer;
 }
 
 .chooseFile {
     border: none;
     margin: 5px;
     border-radius: 30px;
     padding: 8px 50px;
     font-size: 16px;
     cursor: pointer;
     background-color: #f5d45d;
 }
 
 input[type="file"] {
     display: none;
 }
 #background {
     width: 100%;
 }
 
 /* ---------------- MOBILE ---------------- */
 
 @media screen and (min-width: 850px) {
    .body {
       display: flex;
    }
 }
 
 @media screen and (max-width: 850px) {
    .profileBox {
       height: fit-content;
       min-width: 250px;
       width: 80vw;
       max-width: 450px;
    }
 
    .setBox {
       min-width: 250px;
       width: 80vw;
       max-width: 450px;
    }
 
    .profileButton {
       margin: 0 auto;
       width: fit-content;
    }
 }
 @media screen and (max-width: 400px) {
     .card {
         font-size: 12px;
     }
     .card-title {
         font-size: 16px;
     }
     .set {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }
     .collapse-button {
         display: block;
         margin-top: 5px;
     }
 }
 /* ---------------- MOBILE ---------------- */
 
 /* ---------------- THINGS THAT I DON'T UNDERSTAND ---------------- */
 
 /* ---------------- THINGS THAT I DON'T UNDERSTAND ---------------- */
 